---
import Layout from '../components/Layout.astro';

const response = await fetch(import.meta.env.GRAPHQL_ENDPOINT, {
  method: 'POST',
  headers: {'Content-Type':'application/json'},
  body: JSON.stringify({
    query: `
      query GET_ALL_POSTS {
    posts {
      nodes {
        id
        uri
        slug
        title
        date
        content
        excerpt
        featuredImage {
          node {
            sourceUrl
          }
        }
      }
    }
  }
    `
  })
})

const json = await response.json()
const data = json.data.posts.nodes
---
<style>
  a {
    color: black;
    text-decoration: none;
  }
  h2 {
    text-align: center;
    margin: 60px 0;
  }
  .doc {
    font-family: Roboto;
  }
  img {
    width: 100%;
  }
  #cardContainer {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }
  #card {
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  #card:hover {
    transform: scale(1.013);
  }

  @media screen and (min-width: 768px) {
  #card {
  width: 40%;
  }

}
  @media screen and (min-width: 992px) {
  #card {
  width: 25%;
  }
  #cardContainer {
    width: 90%
  }

  @media screen and (min-width: 1200px) {
  #card {
  width: 20%;
  }
}
</style>

  <Layout>
    <div class="doc">
      <h2>All Sharks</h2>
      <div id="cardContainer">
    {data.map((post) => {
      return (
        <div id="card">
        <a href={post.uri}>
        <h3 class="red">{post.title}</h3>
        <img
          src={post.featuredImage.node.sourceUrl}
        />
        <div set:html={post.content} />
        </a>
        </div>
      )
    })}
    </div>
    </div>
  </Layout>