---
---
  <main>
    <div class="hero-text">
    <h1>Hello, I'm Diego Gallardo</h1>
    <p>Welcome to my portfolio</p>
    <a href="/portfolio">View Portfolio &rarr;</a>
  </div>
  </main>

  <style>
  main {
    background-color: #bbc4ac;
    padding: 200px 0;
    text-align: center;
    height: 70vh
  }

  .hero-text {
    max-width: 800px;
    margin: 0 auto;
    color: #333; /* Dark text color for better contrast */
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  a {
    font-weight: 500;
    font-size: 24px;
    color: #997864;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #555; /* Darken the link color on hover */
  }
</style>