  <main>
  <div class="grid-container" id="D">
        <!-- <span id="x-one"> -->
            <div class="bubble" id="d-one-one"></div>
            <div class="bubble" id="d-one-two"></div>
            <div class="bubble" id="d-one-three"></div>
            <div class="bubble" id="d-one-four"></div>
            <div class="bubble" id="d-one-five"></div>
        <!-- </span> -->
        <!-- <span id="x-two"> -->
            <div class="bubble" id="d-two-one"></div>
            <div class="bubble" id="d-two-five"></div>
        <!-- </span> -->
        <!-- <span id="x-three"> -->
            <div class="bubble" id="d-three-two"></div>
            <div class="bubble" id="d-three-three"></div>
            <div class="bubble" id="d-three-four"></div>
        <!-- </span> -->
        
    </div>
    <div class="grid-container" id="I">
        <!-- <span id="x-one"> -->
            <div class="bubble" id="i-one-one"></div>
            <div class="bubble" id="i-one-five"></div>
        <!-- </span> -->
        <!-- <span id="x-two"> -->
            <div class="bubble" id="i-two-one"></div>
            <div class="bubble" id="i-two-two"></div>
            <div class="bubble" id="i-two-three"></div>
            <div class="bubble" id="i-two-four"></div>
            <div class="bubble" id="i-two-five"></div>
        <!-- </span> -->
        <!-- <span id="x-three"> -->
            <div class="bubble" id="i-three-one"></div>
            <div class="bubble" id="i-three-five"></div>
        <!-- </span> -->
    </div>
    <div class="grid-container" id="E">
        <!-- <span id="x-one"> -->
            <div class="bubble" id="e-one-one"></div>
            <div class="bubble" id="e-one-two"></div>
            <div class="bubble" id="e-one-three"></div>
            <div class="bubble" id="e-one-four"></div>
            <div class="bubble" id="e-one-five"></div>
        <!-- </span> -->
        <!-- <span id="x-two"> -->
            <div class="bubble" id="e-two-one"></div>
            <div class="bubble" id="e-two-three"></div>
            <div class="bubble" id="e-two-five"></div>
        <!-- </span> -->
        <!-- <span id="x-three"> -->
            <div class="bubble" id="e-three-one"></div>
            <div class="bubble" id="e-three-three"></div>
            <div class="bubble" id="e-three-five"></div>
        <!-- </span> -->
    </div>

    <div class="grid-container" id="G">
        <!-- <span id="x-one"> -->
            <div class="bubble" id="g-one-two"></div>
            <div class="bubble" id="g-one-three"></div>
            <div class="bubble" id="g-one-four"></div>
        <!-- </span> -->
        <!-- <span id="x-two"> -->
            <div class="bubble" id="g-two-one"></div>
            <div class="bubble" id="g-two-five"></div>
        <!-- </span> -->
        <!-- <span id="x-three"> -->
            <div class="bubble" id="g-three-one"></div>
            <div class="bubble" id="g-three-four"></div>
            <div class="bubble" id="g-three-five"></div>
        <!-- </span> -->
    </div>
    <div class="grid-container" id="O">
        <!-- <span id="x-one"> -->
            <div class="bubble" id="o-one-two"></div>
            <div class="bubble" id="o-one-three"></div>
            <div class="bubble" id="o-one-four"></div>
        <!-- </span> -->
        <!-- <span id="x-two"> -->
            <div class="bubble" id="o-two-one"></div>
            <div class="bubble" id="o-two-five"></div>
        <!-- </span> -->
            <div class="bubble" id="o-three-two"></div>
            <div class="bubble" id="o-three-three"></div>
            <div class="bubble" id="o-three-four"></div>
        <!-- <span id="x-three"></span> -->
    </div>
  </main>

  <style>
    :root {
      --defaultColor: white;
      --hoverColor: blue;
    }
  main {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 99vh;
    --colorOne: white;
    --colorTwo: white;
    --colorThree: white;
    --colorFour: white;
    --colorFive: white;
    --colorSix: white;
  }

  .grid-container {
    display: inline-grid;
    margin: 0 25px;
    width: 150px;
    height: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.bubble {
    background-color: white;
    border: 2px solid blue;
    border-radius: 50px;
    margin: 3px;
    transition: 0.3s;
}

.bubble:hover {
    background-color: var(--hoverColor) !important;
}

#d-one-one {
    grid-column: 1;
    grid-row: 1;
}

#d-one-two {
    grid-column: 1;
    grid-row: 2;
}

#d-one-three {
    grid-column: 1;
    grid-row: 3;
}

#d-one-four {
    grid-column: 1;
    grid-row: 4;
}

#d-one-five {
    grid-column: 1;
    grid-row: 5;
}

#d-two-one {
    grid-column: 2;
    grid-row: 1;
}

#d-two-five {
    grid-column: 2;
    grid-row: 5;
}

#d-three-two {
    grid-column: 3;
    grid-row: 2;
}

#d-three-three {
    grid-column: 3;
    grid-row: 3;
}

#d-three-four {
    grid-column: 3;
    grid-row: 4;
}

#i-one-one {
    grid-column: 1;
    grid-row: 1;
}

#i-one-five {
    grid-column: 1;
    grid-row: 5;
}

#i-two-one {
    grid-column: 2;
    grid-row: 1;
}

#i-two-two {
    grid-column: 2;
    grid-row: 2;
}

#i-two-three {
    grid-column: 2;
    grid-row: 3;
}

#i-two-four {
    grid-column: 2;
    grid-row: 4;
}

#i-two-five {
    grid-column: 2;
    grid-row: 5;
}

#i-three-one {
    grid-column: 3;
    grid-row: 1;
}

#i-three-five {
    grid-column: 3;
    grid-row: 5;
}

#e-one-one {
    grid-column: 1;
    grid-row: 1;
}

#e-one-two {
    grid-column: 1;
    grid-row: 2;
}

#e-one-three {
    grid-column: 1;
    grid-row: 3;
}

#e-one-four {
    grid-column: 1;
    grid-row: 4;
}

#e-one-five {
    grid-column: 1;
    grid-row: 5;
}

#e-two-one {
    grid-column: 2;
    grid-row: 1;
}

#e-two-three {
    grid-column: 2;
    grid-row: 3;
}

#e-two-five {
    grid-column: 2;
    grid-row: 5;
}

#e-three-one {
    grid-column: 3;
    grid-row: 1;
}

#e-three-three {
    grid-column: 3;
    grid-row: 3;
}

#e-three-five {
    grid-column: 3;
    grid-row: 5;
}

#g-one-two {
    grid-column: 1;
    grid-row: 2;
}

#g-one-three {
    grid-column: 1;
    grid-row: 3;
}

#g-one-four {
    grid-column: 1;
    grid-row: 4;
}

#g-two-one {
    grid-column-start: 2;
    grid-row-start: 1;
}

#g-two-five {
    grid-column: 2;
    grid-row: 5;
}

#g-three-one {
    grid-column: 3;
    grid-row: 1;
}

#g-three-four {
    grid-column: 3;
    grid-row: 4;
}

#g-three-five {
    grid-column: 3;
    grid-row: 5;
}

#o-one-two {
    grid-column: 1;
    grid-row: 2;
}

#o-one-three {
    grid-column: 1;
    grid-row: 3;
}

#o-one-four {
    grid-column: 1;
    grid-row: 4;
}

#o-two-one {
    grid-column: 2;
    grid-row: 1;
}

#o-two-five {
    grid-column: 2;
    grid-row: 5;
}

#o-three-two {
    grid-column: 3;
    grid-row: 2;
}

#o-three-three {
    grid-column: 3;
    grid-row: 3;
}

#o-three-four {
    grid-column: 3;
    grid-row: 4;
}
</style>