---
const siteTitle = "Daily Byte"

const navlinksObj = {
  portfolio: "/portfolio",
  posts: "/posts",
  contact: "/contact"
}
const navLinks = Object.entries(navlinksObj)

const currentPath = Astro.url.pathname;
function isActive(path) {
  return currentPath === path;
}
---

<nav role="navigation">
  <div class="logo">
  <h1><a href="/" class="site-title">{siteTitle}</a></h1>
  </div>

  <ul class="nav-links">
    {navLinks.map(([navItem, navLink]) => (
      <li class="nav-item">
        <a href={navLink} class={`nav-link ${isActive(navLink) ? 'active' : ''}`}>
          {navItem.charAt(0).toUpperCase() + navItem.slice(1)}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
  :root {
    --bg-color: #bbc4ac;
    --text-color: #333;
    --hover-bg-color: #dde7d0;
    --active-color: darkgreen;
  }

  h1, ul {
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 20px;
  }
  .logo {
    flex: 1;
  }
  .nav-links {
    display: flex;
    list-style: none;
  }

  .nav-item {
    margin-left: 20px;
  }
  .nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .nav-link:hover {
    background-color: var(--hover-bg-color);
  }
  .active {
    color: var(--active-color);
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }

    .nav-links {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-item {
      margin-top: 10px;
    }
  }
</style>