
---
---
<div class="site-title">
  <slot />
</div>

<style>
  .site-title {
    margin: 80px 0;
    font-size: 36px; /* Increase font size for better emphasis */
    font-weight: 700; /* Adjust font weight for better visibility */
    text-align: center;
    color: #333; /* Choose a color that matches your design */
  }
</style>
